[{"id":"4ca87e5b-b416-4365-8475-68b9cf1777f1","name":"CUAgain mitm","url":"https://production-assetbundle-hololy.hololive.tv/asset/Provisioning/hIz5WkFuV6qXgTtQ.json","wildcard":false,"action":{"type":0,"redirectUrl":"https://cuagain.one/asset/Provisioning/hIz5WkFuV6qXgTtQ.json","preserveHost":false,"excludeUrl":"","excludeWildcard":true},"isEnabled":true}]